@charset "utf-8";
/* FB Fan Rev 2 */

.fan_box {
color: #eeeeee;
}

.fan_box
.full_widget 
.connect_top {
	border: none;
	background-color: #000000;
	color: #eeeeee;
}
.fan_box
.full_widget {
	border: 1px #666666 solid;
	color: #eeeeee;
	background-color: #000000;
}

.fan_box
.full_widget a {
	color:#428ce7;text-decoration:none;
}

.fan_box
.full_widget a:hover, a:focus {
	color:#fff;
}

.connect_top {
color: #eeeeee;
}

.connect_top a {
		color:#428ce7;text-decoration:none;

}
.connect_top a:hover {
	color:#fff;
}
}
.fan_box
.connections {
	background-color: #000000;
	border-top: 1px #666666 solid;
	color: #eeeeee;
}
.fan_box
.connections_grid
.grid_item
.name {
color:#428ce7;text-decoration:none;
}

.fan_box
.connections_grid
.grid_item
.name:hover {
color:#fff;
}
