html, body {
	background:#aaa;
}

html#login, body#login {
	background:#e2e2e2;
	border-top:none;
}

body {
	color:#3d3d3d;
	border-top:1px solid #000;
}

a {
	color:#000;
	font-weight:bold;
}

h1, h2, h3, h4, h5, h6 {
	color:#222;
}

h1 a {
	font-weight:normal;
}

h2 a {
	color:#b4b4b4;
	font-weight:normal;
}

h2 a:hover, span.preview-me, input.file, label.white, div#edit-box a {
	color:#fff;
}

h2 span {
	color:#555;
}

h3 small {
	color:#999;
	text-shadow:#000 0px 0px 0px;
}

h3.dash {
	color:#202020;
	border:1px solid #999;
}

h3.dash a {
	color:#202020;
}

h3.dash a:hover {
	color:#447200;
}

h3.logo {
	background:transparent url(../white/img/bg_module_head_logo.gif) no-repeat 0 0;
}

h4.error {
	background:#76b41c;
	border-bottom:1px solid #bcf573;
}

div#helper {
	background:#76b41c;
	border:1px solid #bcf573;
	color:#fff;
}

#pop-image-preview, #pop-image {
	background:#fff url(../white/img/loading_preview.gif) no-repeat bottom center;
	color:#000;
	box-shadow: 0 2px 4px #000;        
	-webkit-box-shadow: rgba(0,0,0,0.6) 0px 2px 4px;
	-moz-box-shadow:0 2px 4px 0 rgba(0,0,0,0.6);
}

#pop-image-preview a, #pop-image a, div#footer a, div#footer strong, ul#main-nav li a:hover, div#sub-nav ul li a:hover, div#sub-nav ul li.selected a, div#sub-nav ul li.title a, label, form.quad label, ul.dash-strip li strong, div#edit-box-head strong, div#resize-label {
	color:#000;
}

div#header-logo a.img {
	background:transparent url(../white/img/bg_header_logo.gif) no-repeat 0 0;
}

div#header-links {
	background:#888;
	color:#222;
	border-bottom:1px solid #bbb;
}

div#header-slideshow div.wrap, ul#main-nav li {
	background:transparent url(../white/img/bg_main_nav_tab.gif) no-repeat scroll 0 0;
}

div#header-slideshow span {
	background:transparent url(../white/img/bg_main_nav_tab.gif) no-repeat scroll 100% 0;
}

div#container, div#the_img {
	background:#ccc;
}

div#container-footer {
	background:#ccc url(../white/img/bg_container_bl.gif) no-repeat bottom left;
}

div#container-footer div {
	background:transparent url(../white/img/bg_container_br.gif) no-repeat bottom right;
}

div#head {
	background:transparent url(../white/img/bg_container_tr.gif) no-repeat top right;
	color:#fff;
}

div#head h3 span.desc {
	color:#666;
	text-shadow:none;
}

div.module {
	background:#fff url(../white/img/bg_module_tl.gif) no-repeat top left;
}

div.module-head {
	background:transparent url(../white/img/bg_module_tr.gif) no-repeat top right;
}

div.module div.wrap {
	background:#ebebeb;
} 

div.module div.divider, ul.dash-strip li {
	border-bottom:1px solid #cfcfcf;
}

div.module-footer {
	background:#ebebeb url(../white/img/bg_module_bl.gif) no-repeat bottom left;
}

div.module-footer div {
	background:transparent url(../white/img/bg_module_br.gif) no-repeat bottom right;
}

div.embed {
	background:#dbdbdb;
	border:1px solid #bbb;
}

div#footer span, table.sortable td.title span, span.slash {
	color:#666;
}

div#multi-footer {
	background:#76b41c;
	border-top:1px solid #c5fb77;
	color:#fff;
}

ul#main-nav li a {
	color:#444;
	font-size:11px;
	text-transform:uppercase;
	background:transparent url(../white/img/bg_main_nav_tab.gif) no-repeat scroll 100% 0; 
}

ul#main-nav li.selected {
	background-image:url(../white/img/bg_main_nav_tab_selected.gif);
}

ul#main-nav li.selected a {
	color:#000;
	background-image:url(../white/img/bg_main_nav_tab_selected.gif);
}

div#sub-nav {
	background:transparent url(../white/img/bg_subnav.gif) no-repeat scroll 100% 0;
}

div#sub-nav ul li a {
	color:#4f4f4f;
}

div#sub-nav ul li.title {
	background:#fff url(../white/img/bg_subnav_title.gif) no-repeat scroll 0 0;
	font-weight:bold;
}

div#sub-nav ul li.spacer {
	background:transparent url(../white/img/bg_subnav_spacer.gif) no-repeat scroll 0 0;
}

input, textarea {
	border:1px solid #b0b0b0;
	background:#fff;
}

fieldset.solo {
	border-top:1px solid #dbdbdb;
	border-bottom:1px solid #dbdbdb;
}

label span.req {
	color:#e4675c;
}

ul.album {
	background:#e1e1e1;
}

fieldset.embed {
	border-bottom:1px solid #bbb;
	border-top:1px solid #bbb;
	background:#dbdbdb;
}

ul.dash-strip li div.thumb {
	background:#383838;
	border:1px solid #1f1f1f;
}

ul.dash-strip div.no-thumb div, table.sortable tr.subth td {
	background:#444;
}      

ol.snap-thumbs li {
	background:transparent url(../white/img/loading_snap.gif) no-repeat top left;
}

ol.snap-thumbs li.empty {
	background:transparent url(../white/img/empty_image_snap.gif) no-repeat top left;
}

ol.photo-thumbs-list li img {}               

ol.photo-thumbs-list li.selected img {}

.album-thumb-bg-empty {
	background:transparent url(../white/img/empty_ap_index.gif) no-repeat top left;
}

button.primary_sm {
	background:transparent url(../white/img/bttn_primary_sm.gif) no-repeat top left;
	border:1px solid #888;
	color:#000;
	text-shadow:#fff 0px 1px 0px;
}

button.primary_sm_alt {
	background:transparent url(../white/img/bttn_primary_sm_alt.gif) no-repeat top left;
	border:1px solid #448613;
	color:#fff;
	text-shadow:#000 0px 1px 0px;
}

button.primary_lg {
	background:transparent url(../white/img/bttn_primary_lg.gif) no-repeat top left;
	border:1px solid #888;
	color:#000;
	text-shadow:#fff 0px 1px 0px;
}

button.primary_lg_alt {
	background:transparent url(../white/img/bttn_primary_lg_alt.gif) no-repeat top left;
	border:1px solid #448613;
	color:#fff;
	text-shadow:#000 0px 1px 0px;
}

button.primary_lg_mod {
	background:transparent url(../default/img/bttn_primary_lg.gif) no-repeat top left;
	border:1px solid #111;
	color:#fcfcfc;
	text-shadow:#000 0px 1px 0px;
}

button.progress {
	background:transparent url(../white/img/bttn_primary_lg_spin.gif) no-repeat top left;
	padding-left:22px;
}

button.finished {
	background:transparent url(../white/img/bttn_primary_lg_check.gif) no-repeat top left;
	padding-left:22px;
}

button.primary_sm.progress {
	background:transparent url(../white/img/bttn_primary_sm_spin.gif) no-repeat top left;
}

button.primary_sm.finished {
	background:transparent url(../white/img/bttn_primary_sm_check.gif) no-repeat top left;
}

a.icon {
	border:1px solid #888;
}

a.alt {
	border-color:#448613;
	background:#76b41c;
}

a.active {
	background:transparent url(../white/img/bttn_active.gif) no-repeat 0 0;
}

a.spinner {
	background:transparent url(../white/img/icon_spinner_16px.gif) no-repeat 0 0;
}

a.active_alt {
	background:transparent url(../white/img/bttn_active_alt.gif) no-repeat 0 0;
}

a.delete {
	background:transparent url(../white/img/bttn_delete.gif) no-repeat 0 0;
}

a.delete_alt {
	background:transparent url(../white/img/bttn_delete_alt.gif) no-repeat 0 0;
}

a.edit {
	background:transparent url(../white/img/bttn_edit.gif) no-repeat 0 0;
}

a.edit_alt {
	background:transparent url(../white/img/bttn_edit_alt.gif) no-repeat 0 0;
}

a.fp {
	background:transparent url(../white/img/bttn_fp.gif) no-repeat 0 0;
}

a.inactive {
	background:transparent url(../white/img/bttn_inactive.gif) no-repeat 0 0;
}

a.inactive_alt {
	background:transparent url(../white/img/bttn_inactive_alt.gif) no-repeat 0 0;
}

a.move {
	background:transparent url(../white/img/bttn_move.gif) no-repeat 0 0;
}

a.move_alt {
	background:transparent url(../white/img/bttn_move_alt.gif) no-repeat 0 0;
}

a.rotleft {
	background:transparent url(../white/img/bttn_rotleft.gif) no-repeat 0 0;
}

a.rotleft_alt {
	background:transparent url(../white/img/bttn_rotleft_alt.gif) no-repeat 0 0;
}

a.rotright {
	background:transparent url(../white/img/bttn_rotright.gif) no-repeat 0 0;
}

a.rotright_alt {
	background:transparent url(../white/img/bttn_rotright_alt.gif) no-repeat 0 0;
}

a.tag {
	background:transparent url(../white/img/bttn_tag.gif) no-repeat 0 0;
}

a.tag_alt {
	background:transparent url(../white/img/bttn_tag_alt.gif) no-repeat 0 0;
}

a.smart {
	background:transparent url(../white/img/bttn_smart.gif) no-repeat 0 0;
}

a.chev-left {
	background:transparent url(../white/img/bttn_chev_left.gif) no-repeat 0 0;
}

a.chev-right {
	background:transparent url(../white/img/bttn_chev_right.gif) no-repeat 0 0;
}

/* Overwrite .active, .inactive .smart for dialogues */
ul.dialogue-options li a.smart {
	background:transparent url(../default/img/bttn_smart.gif) no-repeat 0 0;
}

ul.dialogue-options li a.active {
	background:transparent url(../default/img/bttn_active.gif) no-repeat 0 0;
}

ul.dialogue-options li a.inactive {
	background:transparent url(../default/img/bttn_inactive.gif) no-repeat 0 0;
}

ul.dialogue-options li a.icon {
	border:1px solid #111;
}
/* End dialogue options overwrite */


div.header-radius {
	background:#ebebeb url(../white/img/bg_dashpro_tl.gif) no-repeat top left;
}

div.header-radius div.tr {
	background:transparent url(../white/img/bg_dashpro_tr.gif) no-repeat top right;
}

div.header-radius div.bl {
	background:#ebebeb url(../white/img/bg_dashpro_bl.gif) no-repeat bottom left;
}

div.header-radius div.br {
	background:transparent url(../white/img/bg_dashpro_br.gif) no-repeat bottom right;
}

div.header-radius span.subtext {
	color:#444;
}

div.header-radius label {
	font-weight:bold;
}

div#sort_type .selected, span.note strong, span.help {
	color:#76B41C;
}

ul#image-view li, div#edit-box, ul.album-view li {
	background:#fff;
}                                            

ul.album-view li div.editBttns {
	background:#bbb;
}

ul.album-view li div.copy {
	border-bottom:1px solid #ccc;
}

ul#image-view li.current {
	background:#333;
	color:#fff;
}

table.jCalendar td.selected {
	background:#76b41c;
	color:#fff;
}

ul#image-view li.select {
	background:#666;
	color:#fff;
}

div#edit-box-wrap {
	background:#ebebeb;
}

div#track1 {
	background:url(../white/img/bg_thumb_resize_track.gif) no-repeat center left;
}

div#handle1 {
	background:transparent url(../white/img/scaler_slider.gif) no-repeat;
}

div#track {
	background:#fafafa url(../white/img/slider_track_m.gif) repeat-x center;
}

div#track_l {
	background:url(../white/img/slider_track_l.gif) no-repeat center;
}

div#track_r {
	background:url(../white/img/slider_track_r.gif) no-repeat center;
}

div#handle {
	background:url(../white/img/slider_btn_m.gif) repeat-x center;
}

div#handle_l {
	background:url(../white/img/slider_btn_l.gif) no-repeat center;
}

div#handle_r {
	background:url(../white/img/slider_btn_r.gif) no-repeat center;
}

div#edit-images-scroll {
	background:#f6f6f6;
	border-top:1px solid #d1d1d1;
	border-right:1px solid #b8b8b8;
	border-left:1px solid #b8b8b8;
	border-bottom:1px solid #b8b8b8;
}

table#file_list {
	width:100%;
	margin:0 0 12px 0;
	border:none;
}

table#file_list td {
	text-align:center;
	padding:4px;
	border-bottom:1px solid #aaa;
}

table#file_list th {
	text-align:center;
	padding:4px;
	border-bottom:1px solid #aaa;
	font-size:10px;
	padding-left:0;
	text-transform:uppercase;
}

table#file_list td.left, table#file_list th.left {
	text-align:left;
	width:50%;
}

table#file_list td.error {
	font-weight:bold;
	background:#eee;
}


div#table-sort-wrap {
	background:#aaa;
}

div#table-sort-wrap div.head {
	color:#000;
}

div#table-sort-wrap div.head button, div#table-sort-wrap div.filter button {
	border-color:#666;
}

div#table-sort-wrap 

div#table-sort-wrap div.foot {
	color:#000;
}

div#table-sort-wrap div.filter {
	border-top:1px solid #898989;
	border-bottom:1px solid #fff;
	background:#999;
	color:#000;
}

div#table-sort-wrap div.filter input {
	border-color:#888;
}

div#table-sort-wrap table.sortable {
	background-image:none;
}

div#table-sort-wrap table.sortable th.tr {
	background-image:none;
}

table.sortable {
	background:#fafafa url(../white/img/bg_module_tl.gif) no-repeat top left;
}

table.sortable th {
	color:#444;
	border-right:1px solid #cfcfcf;
}

table.sortable th.tr {
	background:#fafafa url(../white/img/bg_module_tr.gif) no-repeat top right;
	border-right:none;
} 

table.sortable th.sortdesc {
	background:#fff url(../white/img/table-sort-arrow-down.png) 50% 90% no-repeat;
}

table.sortable th.sortasc {
	background:#fff url(../white/img/table-sort-arrow-up.png) 50% 10% no-repeat;
}

table.sortable th.title.sortasc {
	background-position:98% 50%;
}

table.sortable th.title.sortdesc {
	background-position:98% 52%;
}

table.sortable tr.sub-row td {
	font-weight:bold;
}

table.sortable th span, h3 span, div.dp-popup h2, div.dp-popup a {
	color:#999;
}

table.sortable td {
	background:#eee;
	border:1px solid #cfcfcf;
}

table.sortable td.title {
	border-left:0;
}

table.sortable td.end {
	border-right:0;
}

table.sortable tr.even td {
	background:#f2f2f2;
}

table.sortable td.bl {
	background:#222 url(../white/img/bg_module_bl.gif) no-repeat bottom left;
}

table.sortable td.br {
	background:#222 url(../white/img/bg_module_br.gif) no-repeat bottom right;
}

table.sortable td.sortchild {
	background:#fff;
}

div.pagination span.current {
	color:#fefefe;
}

ul#rule-target li {
	background:#dbdbdb;
	border:1px solid #cfcfcf;
}

div.icon-spin {
	background:transparent url(../white/img/icon_spinner_10px.gif) no-repeat top left;
}

div.icon-check {
	background:transparent url(../white/img/icon_check_10px.gif) no-repeat top left;
}

div#alert a {
	color:#fff;
	font-weight:normal;
	text-decoration:underline;
}

div#alert .warn {
	color:#fff;
	background:#888;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
}

div#alert .error {
	color:#fff;
	background:#b4001c;  
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
}

table.jCalendar {
	border:1px solid #000;
	background:#303030;
}

table.jCalendar th {
	background:#303030;
	color:#fff;
}

table.jCalendar td {
	background:#444;
	color:#999;
}

table.jCalendar td.other-month {
	background:#222;
	color:#aaa;
}

table.jCalendar td.today {
	background:#666;
	color:#fff;
}

table.jCalendar td.selected:hover {
	background:#89cf21;
	color:#fff;
}

table.jCalendar td:hover, table.jCalendar td.dp-hover {
	background:#fff;
	color:#000;
}

table.jCalendar td.disabled, table.jCalendar td.disabled:hover {
	background:#bbb;
	color:#888;
}

div.dp-popup {
	background:#000;
}

div.dp-popup a.disabled {
	color:#aaa;
}

img.wide {
	background:#777;
}

span.warn strong {
	color:#F60;
}

span.news-date {
	color:#666;
	font-weight:normal;
	font-size:10px;
}

span.refresh_spin {
	background:transparent url(../white/img/icon_spinner_10px.gif) no-repeat 0 1px;
}

a.mute {
	color:#999;
	font-weight:normal;
}

a.mute:hover {
	color:#000;
	font-weight:normal;
}

label span.info {
	color:#666;
}

div#empty-ap-settings {
	background:transparent url(../white/img/empty_ap_settings.gif) no-repeat 0 0;
}

span.context {
	color:#000;
	font-weight:bold; 
	background:#f0c940;
	border:1px solid #998129;
} 

div#top-message div.msg-warn {
	color:#000; 
}

div#top-message div.msg-update {
	background:#3d3d3d;
	color:#eee;                    
}

div#top-message div.msg-update a.pill {
	color:#3d3d3d;
	background:#ccc; 
	font-weight:normal;
} 

div#top-message div.msg-update a.pill:hover {
	color:#000;
	background:#ddd;
}

div#top-message div.msg-warn a {
	color:#000;
}     

/* 
-----------------------------------------------------------------------------
OUTSIDE MODALS
-----------------------------------------------------------------------------*/

div.out-module-logo {
	background:transparent url(../white/img/install_modal_logo.gif) 0 0 no-repeat;
}   

div.out-module {
	background:#fff;
} 